/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "menu facts"
    "footer footer";
  grid-template-columns: 25% 75%;
  gap: 10px;
  padding: 10px;
}

.header {
  grid-area: header;
  background-color: #1abc9c;
  color: white;
  padding: 20px;
  text-align: center;
}

.menu {
  grid-area: menu;
  background-color: #333;
  padding: 20px;
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  background: #444;
  padding: 12px;
  margin-bottom: 10px;
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.menu li:hover {
  background: #1abc9c;
}

.content {
  grid-area: content;
  background: white;
  padding: 20px;
}

.facts {
  grid-area: facts;
  background: #f2f2f2;
  padding: 20px;
}

.footer {
  grid-area: footer;
  background: #ddd;
  padding: 15px;
  text-align: center;
}


@media screen and (max-width: 700px) {
  .grid-container {
    grid-template-areas:
      "header"
      "menu"
      "content"
      "facts"
      "footer";
    grid-template-columns: 1fr;
  }

  .menu {
    width: 100%;
    padding: 15px;
  }

  .menu li {
    width: 100%;
    font-size: 18px;
  }
}
